---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?key=AIzaSyDIGA9QRK3a6L2rSko_mlXT1QsyPst1AHE&place_id=ChIJGzE9DS1l44kRoOhiASS_fHg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Boston",
                       "short_name" : "Boston",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Suffolk County",
                       "short_name" : "Suffolk County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Massachusetts",
                       "short_name" : "MA",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Boston, MA, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 42.40081989999999,
                          "lng" : -70.749455
                       },
                       "southwest" : {
                          "lat" : 42.22788,
                          "lng" : -71.191113
                       }
                    },
                    "location" : {
                       "lat" : 42.3600825,
                       "lng" : -71.0588801
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 42.40081989999999,
                          "lng" : -70.749455
                       },
                       "southwest" : {
                          "lat" : 42.22788,
                          "lng" : -71.191113
                       }
                    }
                 },
                 "place_id" : "ChIJGzE9DS1l44kRoOhiASS_fHg",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Fri, 06 Apr 2018 19:19:31 GMT
recorded_with: VCR 3.0.3
