---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?key=AIzaSyBdCU3DYWSnqDko-_8l5aNgNneanf_SkJw&place_id=ChIJOwg_06VPwokRYv534QaPC8g
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "New York",
                       "short_name" : "New York",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "New York",
                       "short_name" : "NY",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "New York, NY, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 40.9175771,
                          "lng" : -73.70027209999999
                       },
                       "southwest" : {
                          "lat" : 40.4773991,
                          "lng" : -74.25908989999999
                       }
                    },
                    "location" : {
                       "lat" : 40.7127753,
                       "lng" : -74.0059728
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 40.9175771,
                          "lng" : -73.70027209999999
                       },
                       "southwest" : {
                          "lat" : 40.4773991,
                          "lng" : -74.25908989999999
                       }
                    }
                 },
                 "place_id" : "ChIJOwg_06VPwokRYv534QaPC8g",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Thu, 05 Apr 2018 16:50:34 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?key=AIzaSyBdCU3DYWSnqDko-_8l5aNgNneanf_SkJw&place_id=ChIJGzE9DS1l44kRoOhiASS_fHg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_compone[...]
