---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/autocomplete/json?input=New%20York&key=AIzaSyBdCU3DYWSnqDko-_8l5aNgNneanf_SkJw&types=geocode
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "predictions" : [
              {
                 "description" : "New York, NY, USA",
                 "id" : "7eae6a016a9c6f58e2044573fb8f14227b6e1f96",
                 "matched_substrings" : [
                    {
                       "length" : 8,
                       "offset" : 0
                    }
                 ],
                 "place_id" : "ChIJOwg_06VPwokRYv534QaPC8g",
                 "reference" : "CjQpAAAACZ8w-kqz6yHW6bkJCnxM5860QYhgWUtXTBc0AxpfwrhERx61-EhmvEGkA6_3oU9_EhBa7nTyOLUdzwhtayzJJRIIGhQi3OGZvU45vuevL1E9FW8H8w6lrA",
                 "structured_formatting" : {
                    "main_text" : "New York",
                    "main_text_matched_substrings" : [
                       {
                          "length" : 8,
                          "offset" : 0
                       }
                    ],
                    "secondary_text" : "NY, USA"
                 },
                 "terms" : [
                    {
                       "offset" : 0,
                       "value" : "New York"
                    },
                    {
                       "offset" : 10,
                       "value" : "NY"
                    },
                    {
                       "offset" : 14,
                       "value" : "USA"
                    }
                 ],
                 "types" : [ "locality", "political", "geocode" ]
              },
              {
                 "description" : "New York, IA, USA",
                 "id" : "329cb7144660f29514f351db26cef864634f748a",
                 "matched_substrings" : [
                    {
                       "length" : 8,
                       "offset" : 0
                    }
                 ],
                 "place_id" : "ChIJD_qB3F8X6YcRDraFbXmLUD4",
                 "reference" : "CjQpAAAAqnA6WuftX201lxBAL6CLITh92[...]
