---
http_interactions:
- request:
    method: get
    uri: http://api.travelpayouts.com/v2/prices/month-matrix?destination=NYC&month=2018-05-25&origin=LED&show_to_affiliates=false&token=7181fab2e6eebcc0e6ec2123bb8593d1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: "{\"success\": true, \"data\": \n[{\"value\":19762.0,\"trip_class\":0,\"show_to_affiliates\":false,\"return_date\":null,\"origin\":\"LED\",\"number_of_changes\":1,\"gate\":\"SuperSaver.ru\",\"found_at\":\"2018-05-25T19:21:00\",\"duration\":1965,\"distance\":6893,\"destination\":\"NYC\",\"depart_date\":\"2018-05-31\",\"actual\":true},{\"value\":25149.0,\"trip_class\":0,\"show_to_affiliates\":false,\"return_date\":null,\"origin\":\"LED\",\"number_of_changes\":2,\"gate\":\"Kiwi.com\",\"found_at\":\"2018-05-25T19:21:00\",\"duration\":2035,\"distance\":6893,\"destination\":\"NYC\",\"depart_date\":\"2018-05-31\",\"actual\":true}]
        }\n"
  recorded_at: Fri, 25 May 2018 23:40:54 GMT
recorded_with: VCR 3.0.3
