---
http_interactions:
- request:
    method: get
    uri: http://api.travelpayouts.com/v2/prices/month-matrix?destination=NYC&month=2018-04-26&origin=LED&show_to_affiliates=false&token=7181fab2e6eebcc0e6ec2123bb8593d1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: "{\"success\": true, \"data\": \n[{\"value\":17643.0,\"trip_class\":0,\"show_to_affiliates\":false,\"return_date\":null,\"origin\":\"LED\",\"number_of_changes\":1,\"gate\":\"SuperKassa.ru\",\"found_at\":\"2018-04-26T16:39:43\",\"duration\":1500,\"distance\":6893,\"destination\":\"NYC\",\"depart_date\":\"2018-04-26\",\"actual\":true},{\"value\":76790.0,\"trip_class\":0,\"show_to_affiliates\":false,\"return_date\":null,\"origin\":\"LED\",\"number_of_changes\":2,\"gate\":\"TAP
        Portugal\",\"found_at\":\"2018-04-26T16:39:43\",\"duration\":1685,\"distance\":6893,\"destination\":\"NYC\",\"depart_date\":\"2018-04-26\",\"actual\":true},{\"value\":17643.0,\"trip_class\":0,\"show_to_affiliates\":false,\"return_date\":null,\"origin\":\"LED\",\"number_of_changes\":1,\"gate\":\"AMADEUS\",\"found_at\":\"2018-04-26T16:35:56.9[...]
