---
http_interactions:
- request:
    method: get
    uri: http://api.travelpayouts.com/v2/prices/month-matrix?destination=NYC&month=2018-06-07&origin=LED&show_to_affiliates=false&token=7181fab2e6eebcc0e6ec2123bb8593d1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: "{\"success\": true, \"data\": \n[{\"value\":19497.0,\"trip_class\":0,\"show_to_affiliates\":false,\"return_date\":null,\"origin\":\"LED\",\"number_of_changes\":1,\"gate\":\"Aerobilet\",\"found_at\":\"2018-06-06T20:28:14\",\"duration\":1630,\"distance\":6893,\"destination\":\"NYC\",\"depart_date\":\"2018-06-08\",\"actual\":true},{\"value\":27742.0,\"trip_class\":0,\"show_to_affiliates\":false,\"return_date\":null,\"origin\":\"LED\",\"number_of_changes\":2,\"gate\":\"Aviakassa\",\"found_at\":\"2018-06-06T06:57:30\",\"duration\":2385,\"distance\":6893,\"destination\":\"NYC\",\"depart_date\":\"2018-06-17\",\"actual\":true},{\"value\":25005.0,\"trip_class\":0,\"show_to_affiliates\":false,\"return_date\":null,\"origin\":\"LED\",\"number_of_changes\":1,\"gate\":\"AMADEUS\",\"found_at\":\"2018-06-07T02:35:59.923890\",\"d[...]
