---
http_interactions:
- request:
    method: get
    uri: http://api.travelpayouts.com/v2/prices/month-matrix?destination=NYC&month=2018-04-23&origin=LED&show_to_affiliates=false&token=7181fab2e6eebcc0e6ec2123bb8593d1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: "{\"success\": true, \"data\": \n[{\"value\":17857.0,\"trip_class\":0,\"show_to_affiliates\":false,\"return_date\":null,\"origin\":\"LED\",\"number_of_changes\":1,\"gate\":\"AMADEUS\",\"found_at\":\"2018-04-23T16:37:06.568164\",\"duration\":null,\"distance\":6893,\"destination\":\"NYC\",\"depart_date\":\"2018-04-23\",\"actual\":true},{\"value\":17857.0,\"trip_class\":0,\"show_to_affiliates\":false,\"return_date\":null,\"origin\":\"LED\",\"number_of_changes\":1,\"gate\":\"OZON.travel\",\"found_at\":\"2018-04-23T18:53:44\",\"duration\":1810,\"distance\":6893,\"destination\":\"NYC\",\"depart_date\":\"2018-04-24\",\"actual\":true},{\"value\":24983.0,\"trip_class\":0,\"show_to_affiliates\":false,\"return_date\":null,\"origin\":\"LED\",\"number_of_changes\":2,\"gate\":\"KupiBilet.ru\",\"found_at\":\"2018-04-23T18:53:44\",\"d[...]
