---
http_interactions:
- request:
    method: get
    uri: http://api.travelpayouts.com/v2/prices/month-matrix?destination=NYC&month=2018-05-29&origin=LED&show_to_affiliates=false&token=7181fab2e6eebcc0e6ec2123bb8593d1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: "{\"success\": true, \"data\": \n[{\"value\":19762.0,\"trip_class\":0,\"show_to_affiliates\":false,\"return_date\":null,\"origin\":\"LED\",\"number_of_changes\":1,\"gate\":\"AMADEUS\",\"found_at\":\"2018-05-29T11:49:26.807113\",\"duration\":null,\"distance\":6893,\"destination\":\"NYC\",\"depart_date\":\"2018-05-29\",\"actual\":true},{\"value\":19762.0,\"trip_class\":0,\"show_to_affiliates\":false,\"return_date\":null,\"origin\":\"LED\",\"number_of_changes\":1,\"gate\":\"AMADEUS\",\"found_at\":\"2018-05-29T11:49:26.807113\",\"duration\":null,\"distance\":6893,\"destination\":\"NYC\",\"depart_date\":\"2018-05-30\",\"actual\":true},{\"value\":19762.0,\"trip_class\":0,\"show_to_affiliates\":false,\"return_date\":null,\"origin\":\"LED\",\"number_of_changes\":1,\"gate\":\"AMADEUS\",\"found_at\":\"2018-05-29T11:49:26.807113\",\"duration\":null,\"distance\":6893,\"destination\":\"NYC\",\"depart_date\":\"2018-05-31\",\"actual\":true}]
        }\n"
  recorded_at: Tue, 29 May 2018 14:49:59 GMT
recorded_with: VCR 3.0.3
