---
http_interactions:
- request:
    method: get
    uri: http://api.travelpayouts.com/v2/prices/month-matrix?destination=NYC&month=2018-05-01&origin=LED&show_to_affiliates=false&token=7181fab2e6eebcc0e6ec2123bb8593d1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: "{\"success\": true, \"data\": \n[{\"value\":17643.0,\"trip_class\":0,\"show_to_affiliates\":false,\"return_date\":null,\"origin\":\"LED\",\"number_of_changes\":1,\"gate\":\"AMADEUS\",\"found_at\":\"2018-05-01T04:59:48.609978\",\"duration\":null,\"distance\":6893,\"destination\":\"NYC\",\"depart_date\":\"2018-05-01\",\"actual\":true},{\"value\":20172.0,\"trip_class\":0,\"show_to_affiliates\":false,\"return_date\":null,\"origin\":\"LED\",\"number_of_changes\":2,\"gate\":\"KupiBilet.ru\",\"found_at\":\"2018-04-30T23:14:13\",\"duration\":1855,\"distance\":6893,\"destination\":\"NYC\",\"depart_date\":\"2018-05-24\",\"actual\":true},{\"value\":16477.0,\"trip_class\":0,\"show_to_affiliates\":false,\"return_date\":null,\"origin\":\"LED\",\"number_of_changes\":1,\"gate\":\"Aerobilet\",\"found_at\":\"2018-04-30T16:56:04\",\"dur[...]
