---
http_interactions:
- request:
    method: get
    uri: http://api.travelpayouts.com/v1/prices/cheap?destination=NYC&origin=LED&token=7181fab2e6eebcc0e6ec2123bb8593d1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"4b3ec56793e330eeab12093fa7d8776d"
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"NYC":{"1":{"price":24317,"airline":"N7","flight_number":704,"departure_at":"2018-09-26T06:00:00Z","return_at":"2018-10-03T17:40:00Z","expires_at":"2018-04-23T07:22:07Z"},"2":{"price":26581,"airline":"LX","flight_number":1311,"departure_at":"2018-12-01T15:05:00Z","return_at":"2018-12-07T22:05:00Z","expires_at":"2018-04-25T15:31:42Z"},"3":{"price":36021,"airline":"LX","flight_number":1311,"departure_at":"2018-10-04T14:10:00Z","return_at":"2018-10-10T13:30:00Z","expires_at":"2018-04-24T13:06:07Z"},"4":{"price":49328,"airline":"BT","flight_number":449,"departure_at":"2018-09-07T14:25:00Z","return_at":"2018-10-07T19:10:00Z","expires_at":"2018-04-24T19:36:06Z"},"5":{"price":59329,"airline":"BT","flight_number":447,"departure_at":"2019-03-06T06:10:00Z","return_at":"2019-03-13T20:20:00Z","expires_at":"2018-04-25T10:37:43Z"},"6":{"price":59613,"airline":"AF","flight_number":1465,"departure_at":"2019-02-04T16:20:00Z","return_at":"2019-02-12T14:20:00Z","expires_at":"2018-04-25T19:33:19Z"},"7":{"price":68039,"airline":"AF","flight_number":1465,"departure_at":"2019-02-04T16:20:00Z","return_at":"2019-02-12T14:20:00Z","expires_at":"2018-04-25T19:33:19Z"}}},"error":null,"currency":"rub"}'
  recorded_at: Sun, 22 Apr 2018 23:09:59 GMT
recorded_with: VCR 3.0.3
