---
http_interactions:
- request:
    method: get
    uri: http://api.travelpayouts.com/v1/prices/cheap?destination=NYC&origin=LED&token=7181fab2e6eebcc0e6ec2123bb8593d1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"7d468b7485dd7007707a87c52e4f83a9"
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"NYC":{"1":{"price":23098,"airline":"AY","flight_number":704,"departure_at":"2018-09-12T06:00:00Z","return_at":"2018-09-18T17:40:00Z","expires_at":"2018-04-29T16:06:42Z"},"2":{"price":24603,"airline":"LH","flight_number":1433,"departure_at":"2019-04-09T14:05:00Z","return_at":"2019-04-16T21:55:00Z","expires_at":"2018-04-29T18:57:46Z"},"3":{"price":50501,"airline":"SU","flight_number":33,"departure_at":"2018-09-14T06:25:00Z","return_at":"2018-09-22T01:05:00Z","expires_at":"2018-04-29T11:05:28Z"},"4":{"price":56260,"airline":"SU","flight_number":19,"departure_at":"2018-05-02T15:15:00Z","return_at":"2018-07-16T00:40:00Z","expires_at":"2018-04-29T19:01:53Z"},"5":{"price":52471,"airline":"S7","flight_number":16,"departure_at":"2018-12-21T11:20:00Z","return_at":"2018-12-26T19:20:00Z","expires_at":"2018-04-29T09:38:27Z"}}},"error":null,"currency":"rub"}'
  recorded_at: Thu, 26 Apr 2018 19:36:04 GMT
recorded_with: VCR 3.0.3
