---
http_interactions:
- request:
    method: get
    uri: http://api.travelpayouts.com/v1/prices/cheap?destination=NYC&origin=LED&token=7181fab2e6eebcc0e6ec2123bb8593d1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"628446523493416db0c4f403323f1b1d"
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"NYC":{"1":{"price":23513,"airline":"AY","flight_number":702,"departure_at":"2018-11-13T12:40:00Z","return_at":"2018-11-20T17:45:00Z","expires_at":"2018-05-21T23:44:53Z"},"2":{"price":24850,"airline":"LX","flight_number":1311,"departure_at":"2018-11-21T15:05:00Z","return_at":"2018-12-05T18:15:00Z","expires_at":"2018-05-22T23:38:06Z"},"3":{"price":39078,"airline":"OS","flight_number":612,"departure_at":"2018-10-15T17:30:00Z","return_at":"2019-03-15T14:20:00Z","expires_at":"2018-05-21T18:59:43Z"},"4":{"price":54499,"airline":"S7","flight_number":16,"departure_at":"2018-12-12T11:20:00Z","return_at":"2018-12-26T00:50:00Z","expires_at":"2018-05-22T19:49:04Z"},"5":{"price":61337,"airline":"N7","flight_number":702,"departure_at":"2018-08-19T12:20:00Z","return_at":"2018-08-26T22:00:00Z","expires_at":"2018-05-23T11:02:09Z"},"6":{"price":72164,"airline":"SU","flight_number":11,"departure_at":"2018-07-26T10:40:00Z","return_at":"2018-08-09T00:40:00Z","expires_at":"2018-05-21T07:44:11Z"}}},"error":null,"currency":"rub"}'
  recorded_at: Mon, 21 May 2018 19:25:02 GMT
recorded_with: VCR 3.0.3
