---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/autocomplete/json?input=New%20York&key=AIzaSyDIGA9QRK3a6L2rSko_mlXT1QsyPst1AHE&types=geocode
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "predictions" : [
              {
                 "description" : "New York, NY, USA",
                 "id" : "7eae6a016a9c6f58e2044573fb8f14227b6e1f96",
                 "matched_substrings" : [
                    {
                       "length" : 8,
                       "offset" : 0
                    }
                 ],
                 "place_id" : "ChIJOwg_06VPwokRYv534QaPC8g",
                 "reference" : "CjQpAAAA1gTJ_vCAylElbj-gsBXJg8O4YHexS-zB2n-ZUAJkT7qIlAHV7jBRrKsbhGvF0VbrEhB1ovYp5U3QuWbuqEli1YBhGhQbI3zhMmIWOnkisSrkhJNHgosMYg",
                 "structured_formatting" : {
                    "main_text" : "New York",
                    "main_text_matched_substrings" : [
                       {
                          "length" : 8,
                          "offset" : 0
                       }
                    ],
                    "secondary_text" : "NY, USA"
                 },
                 "terms" : [
                    {
                       "offset" : 0,
                       "value" : "New York"
                    },
                    {
                       "offset" : 10,
                       "value" : "NY"
                    },
                    {
                       "offset" : 14,
                       "value" : "USA"
                    }
                 ],
                 "types" : [ "locality", "political", "geocode" ]
              },
              {
                 "description" : "New York, IA, USA",
                 "id" : "329cb7144660f29514f351db26cef864634f748a",
                 "matched_substrings" : [
                    {
                       "length" : 8,
                       "offset" : 0
                    }
                 ],
                 "place_id" : "ChIJD_qB3F8X6YcRDraFbXmLUD4",
                 "reference" : "CjQpAAAAV7P_Xk8_YQUd_1x89fSrqmfnM[...]
